#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;

}

button{
    inline-size: 100px;
    block-size: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);    
    color: aliceblue;
    font-size: 3rem;
    cursor: pointer;
    
}

#display{
    inline-size: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: start;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: aliceblue;
    
}

#Calculatrice{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-inline-size: 470px;
    overflow: hidden;
    
}
body{
    margin: 0;
    background-color: hsl(0, 0%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: 100vh;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
    
}
.operation-btn{
    background-color: hsl(39, 100%, 50%);
}
.operation-btn:hover{
    background-color: hsl(39, 100%, 60%);
}    


.operation-btn:active{    
    background-color: hsl(39, 100%, 70%);
}    